/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Ovo&display=swap');

/* all elemets */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body text */

body {
    font-family: 'Ovo', sans-serif;
    color: #292929;
}

/* logo *//* nav menu */

h1,h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #29292971;
    color: #f7b91a;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#nav-menu {
    float: right;
    font-size: 120%;
    margin-right: 30px;
}

#nav-menu li{
  display:inline-block
}

#nav-menu a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-right: 10px;
  color:#292929
}

#nav-menu a:hover {
  border-bottom: 2px solid #3a3a3a;
  padding-bottom: 2px;
}



#logo, #nav-menu {
    line-height: 100px;
}

/* mobile burger menu */

#burger-menu {
  font-size: 220%;
  float: right;
  margin-right: 30px;
  line-height: 75px;
  cursor: pointer;
}

@media (max-width: 860px) {
  #logo {
    font-size: 220%;
  }

  #nav-menu {
    position: absolute;
    top: 75px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.322);
    z-index: 1;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 600%);
  }
  #nav-menu ul {
    /* text-align: center; */
    font-size: 80%;
    margin-left: 30px;
  }

  #nav-menu a {
    color:#ffffff
  }

  #nav-menu a:hover {
    border-bottom: 2px solid #f7b91a;
    padding-bottom: 2px;
  }

  #nav-menu.active {
    display: block;
  }

  #logo, #nav-menu {
    line-height: 75px;
}

  #burger-menu {
    display: block;
    float: right;
    cursor: pointer;
  }
  
}

@media (min-width: 860px) {
  #burger-menu {
    display: none;
  }
}

/* hero banner with text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-banner {
    background-image: url('../images/alex-portrait-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    /* top: 0;
    left: 0; */
    filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  transition: filter 0.1s;
  -webkit-transition: filter 0.1s;
  -moz-transition: filter 0.1s;
  -o-transition: filter 0.1s;
  -ms-transition: filter 0.1s;
}


#hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    clip-path: polygon(0 0, 50% 0, 100% 150%, 0 150%);
  }

#hero-text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translateY(-50%);
    color: white;
    font-size: 2em;
    text-align: left;
  }

#hero-text li {
    list-style: none;
  }

#hero-text li::before {
  content: "⦿"; color: #f7b91a
}

  @media (max-width: 769px) {
    #hero-text {
      margin-top: 10px;
    }
    
    #hero-text li {
      font-size: 70%;
      margin-left: -30px;
    }

  }

  #hero-quote {
    color: #ccc;
    position: absolute;
    bottom: 40px;
    right: 0;
  }
  
/* about section */

#about{
    margin: 10px;
    padding: 10px;
}

#about h2 {
    position: absolute;
    text-transform: uppercase;
    font-size: 160%;
    margin-top: -50px;
}

@media only screen and (min-width: 769px) {
  #about h2 {
    position: absolute;
    text-transform: uppercase;
    font-size: 280%;
    margin-top: -70px;
  }
  #about{
    margin: 20px;
    padding: 20px;
  }
}

/* timeline images */



/* timeline section */

#timeline-section {
  margin: 20px;
  padding: 20px;
}

#timeline-section h3 {
  font-size: 180%;
}


.timeline {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  padding: 2rem;
  box-sizing: border-box;
}

.timeline-item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.timeline-item__date {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.timeline-item__content {
  flex: 1;
}
.timeline-item li {
  list-style-type: "⦿ ";
}

.timeline-item li::marker {
  color: #f7b91a;
}

/* timeline photos */

#timeline-images-container {
  column-count: 1;
  max-height: 600px;
  max-width: 100%;
  align-items: top;
  overflow: hidden;
}

#timeline-images img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  /* border: 1px solid #ccc;
  margin: 1px; */
}

/* timeline responsive */

@media only screen and (min-width: 769px) {
  .timeline {
    flex-direction: row;
  }
  .timeline-item {
    width: 50%;
  }
  .timeline-item:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

/* trailer text */

#trailer-text {
  margin: 10px 20px 0px 20px;
  padding: 10px 20px 0px 20px;
  font-size: 180%;
}
.trailer-text__p {
  padding: 0px 20px 0px 20px;
  margin: 10px 20px 20px 20px;
}
/* quote block styling */

blockquote {
  background-color: #67c3f128;
  border-left: 10px solid #f7b91a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}