/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Ovo&display=swap');

/* all elemets */

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body text */

body {
    font-family: 'Ovo', sans-serif;
    color: #292929;
}

h4 {
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

/* logo *//* nav menu */

h1,h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 2px #292929d5;
    color: #f7b91a;
}

#logo {
    float: left;
    font-size: 2.5rem;
    margin-left: 2rem;
}

#nav-menu {
    float: right;
    font-size: 1rem;
    margin-right: 2rem;
}

#nav-menu li{
  display:inline-block
}

#nav-menu a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 1rem;
  color:#292929
}

#nav-menu a:hover {
  border-bottom: 2px solid #292929;
  padding-bottom: 2px;
}

#logo, #nav-menu {
    line-height: 5rem;
}

/* mobile burger menu */

#burger-menu {
  font-size: 2rem;
  float: right;
  margin-right: 2rem;
  line-height: 75px;
  cursor: pointer;
}

/* hero banner with text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-banner {
  background-image: url('../images/alex-portrait-banner.webp');
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: grayscale(0%);
  transition: filter 0.1s;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 90%, 0 0); 
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 90%, 0 0);

}

.hero-text {
  text-transform: uppercase;
  text-shadow: 1px 1px #292929d5;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 5rem;
  left: 2rem;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  }

.hero-text li {
  list-style: none;
  }

.hero-text li::before {
  content: "⦿ "; color: #f7b91a
}

.heroquote {
  color: white;
  position: absolute;
  bottom: 3rem;
  right: 0;
  background-color: #29292993;
  border-left: 10px solid #f7b91a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
  }

.heroquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
  
.heroquote p {
  display: inline;
  font-size: 1rem;
}
  
/* about section */

#about{
  margin: 1rem;
  padding: 1rem;
}

#about h2 {
  position: absolute;
  text-transform: uppercase;
  font-size: 250%;
  margin-top: -70px;
}

/* timeline image */

#caption-image__container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

#caption-image img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 600px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 90%, 0 0); 
  clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 90%, 0 0);
}

#caption-image__container .caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

/* timeline section */

#timeline-article {
  margin: 1rem;
  padding: 1rem;
}

#timeline-article h3 {
  position: absolute;
  font-size: 200%;
  margin-top: -70px;
}

/* timeline */

.timeline {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  padding: 2rem;
  box-sizing: border-box;
}

.timeline-item:not(:last-child) {
  border-right: 1px solid #ccc;
}

.timeline-item__date {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.timeline-item__content {
  flex: 1;
}
.timeline-item li {
  padding-bottom: 1rem;
  list-style-type: "⦿ ";
}

.timeline-item li::marker {
  color: #f7b91a;
}

#history-made li {
  font-weight: 600;
}

/* trailer text */

#trailer-text {
  text-align: center;
  font-size: 180%;
  padding: 1rem 0px 0.5rem 0px;
}

.trailer-text__p {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
}

/* body quote block */

.bodyquote {
  background-color: #67c3f128;
  border-left: 10px solid #f7b91a;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”";
}

.bodyquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.bodyquote p {
  display: inline;
}

/* footer */

#follow-text {
  background-color: black;
  text-align: center;
  width: 100%;
  margin-top: -5px;
  padding-bottom: 5px;
  position: relative;
  left: 0;
  bottom: 0;
}

#follow-text h3 {
  font-size: 120%;
  padding-top: 20px;
}

#follow-text p {
  color: white;
  padding-bottom: 10px;

}

footer {
  position: static;
  text-align: center;
  background-color: black;
  width: 100%;
  font-size: 180%;
}

footer a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

footer a:hover {
  color:#f7b91a
}

footer p {
  color: white;
  font-size: 12px;
  padding: 10px 5px;
}

/* gallery styling */

#gallery-title {
  background-image: url('../images/gallery-heading.webp');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

#gallery-title h3{
  font-size: 200%;
  text-align: center;
  padding: 100px;
  background-color: #52525259;
}

.gallery-article {
  margin: 1rem;
  padding: 1rem;
}

#image-gallery-outer{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

}

#image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding-bottom: 15px;
}

#image-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* sign-up page */

#signup-title {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  
}
#signup-title h3{
  font-size: 200%;
  text-align: center;
  padding: 80px 0px 0px 0px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

#signup-title p{
  text-align: center;
  padding: 0px 20px 20px;
}

#signup-container {
  height: 100%;
  width: 100%;
  padding: 0px 0px 80px 0px;
  overflow: hidden;
  position: relative;
}

#signup-form {
  background-image: url('../images/signupbg-blurred.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#signup-form label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#signup-form input[type="text"], #signup-form input[type="email"] {
  text-align: center;
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input::placeholder {
  color: gray;
}

/* form survey */

fieldset {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.survey legend {
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  font-weight: 600;
  color: #f7b91a;
  padding-top: 80px;
}

.survey input[type="radio"] {
  margin-left: 10px;
}

#signup-form input[type="submit"] {
  background-color: black;
  color: white;
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#signup-form input[type="submit"]:hover {
  background-color: #f7b91a;
}

/* google maps */

#gmaps h3 {
  font-size: 200%;
  text-align: center;
}

#gmaps p {
  text-align: center;
  padding: 0px 20px 20px;
}

/* thank you page */

#thank-you__container {
  max-width: 100%;
}

#thank-you__container img {
  display: flex;
  object-fit: cover;
  justify-content: center;
  width: 100%;
  height: 1000px;
}

.thankyou-text {
  position: absolute;
  font-size: 200%;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px black;
}

/* responsive design screen size 1440px */

@media (min-width: 1440px) {
  body {
    width: 1440px;
    margin: 0;
  }
}

/* burger menu 835px */

@media (min-width: 835px) {
  #burger-menu {
    display: none;
  }
}

/* responsive design screen size 834px */

@media (max-width: 834px) {
  #logo {
    font-size: 200%;
  }
  #nav-menu {
    position: absolute;
    top: 75px;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.322);
    z-index: 1;
    display: none;
  }
  #nav-menu ul {
    display: flex;
    justify-content: center;
    font-size: 75%;    
  }
  #nav-menu a {
    color:#ffffff;
    text-shadow: 2px 2px #292929d5;
  }
  #nav-menu a:hover {
    border-bottom: 2px solid #f7b91a;
    padding-bottom: 2px;
  }
  #nav-menu.active {
    display: block;
  }
  #logo, #nav-menu {
    line-height: 75px;
  }
  #burger-menu {
    display: block;
    float: right;
    cursor: pointer;
  }
  #hero-text {
    font-size: 100%;
  } 
   #about h2 {
    font-size: 240%;
  }   
}
  
/* responsive design screen size 768px */

@media (min-width: 768px) {
  .timeline {
    flex-direction: row;
  }
  .timeline-item {
    width: 50%;
  }
  .timeline-item:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

@media (max-width: 768px) {

  #image-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #about h2 {
    font-size: 250%;
    margin-top: -70px;
  }
}

/* responsive design screen size 480px */

@media (max-width: 430px) {
  #logo {
    font-size: 190%;
  }

  #image-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

/* responsive design screen size 375px */

@media (max-width: 375px) {
  #logo {
    font-size: 160%;
  }
  #about h2 {
    font-size: 200%;
  }
}

/* responsive design screen size 320px */

@media (max-width: 320px) {
  #logo {
    font-size: 140%;
  }
  #nav-menu ul {
    display: flex;
    justify-content: center;
    font-size: 60%;
  }
  #about h2 {
    font-size: 160%;
  }
  .hero-text {
    font-size: 1.1rem;
  }
}

/* responsive design screen size 300px */

@media (max-width: 300px) {
  #logo {
    font-size: 120%;
  }  
}